* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first {
  background: #f9f9f9;
  position: relative;
  width: 1920px;
  height: 1080px;
}
.second {
  position: absolute;
  width: 822px;
  height: 1080px;
  right: 0px;
  top: 0px;
  background: #ffffff;
}
h2 {
  position: absolute;
  width: 179px;
  height: 29px;
  left: 149px;
  top: 47px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #1a1a1a;
}
.line {
  position: absolute;
  width: 798px;
  height: 0px;
  left: 150px;
  top: 88px;
  border: 1px solid #1a1a1a;
}
.page-num {
  position: absolute;
  width: 29px;
  height: 24px;
  left: 920px;
  top: 49px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #1a1a1a;
}
.backVector {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  top: 47px;
  left: 48px;
  border: none;
}
.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;

  position: absolute;
  width: 419px;
  height: 122px;
  left: calc(50% - 419px / 2 - 624.5px);
  top: 157px;
}
.surname {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;

  position: absolute;
  width: 419px;
  height: 122px;
  left: calc(50% - 419px / 2 - 197.5px);
  top: 157px;
}
.inputname {
  box-sizing: border-box;
  width: 371px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  position: relative;
  padding-left: 16px;
}
.inputname::placeholder {
  position: absolute;
  height: 21px;
  left: 16px;
  right: 16px;
  top: 13px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
}
.hintname {
  width: 371px;
  height: 21px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #2e2e2e;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
h3 {
  position: absolute;
  width: 232px;
  height: 22px;
  left: 150px;
  top: 325px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #1a1a1a;
}
.upload {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 12px;
  gap: 10px;
  position: relative;
  width: 107px;
  height: 27px;
  left: 401px;
  top: 325px;
  background: #0e80bf;
  border-radius: 4px;
  border: none;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.fileInput {
  position: absolute;
  top: 0;
  width: 107px;
  height: 27px;
  opacity: 0%;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;
  position: absolute;
  width: 846px;
  height: 148px;
  left: calc(50% - 846px / 2 - 411px);
  top: 393px;
}
.about-text {
  width: 798px;
  height: 21px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.about-input {
  box-sizing: border-box;
  width: 798px;
  height: 103px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}
.about-input::placeholder {
  position: absolute;
  height: 21px;
  left: 16px;
  right: 16px;
  top: 13px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
.email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;
  position: absolute;
  width: 846px;
  height: 122px;
  left: calc(50% - 846px / 2 - 411px);
  top: 558px;
}
.email-text {
  width: 798px;
  height: 21px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.email-input {
  box-sizing: border-box;
  width: 798px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.email-hint {
  width: 798px;
  height: 21px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #2e2e2e;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.email-input::placeholder {
  position: absolute;
  height: 21px;
  left: 16px;
  right: 16px;
  top: 13px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
}
.mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 8px;
  position: absolute;
  width: 846px;
  height: 122px;
  left: calc(50% - 846px / 2 - 411px);
  top: 693px;
}
.mobile-text {
  width: 798px;
  height: 21px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.mobile-input {
  box-sizing: border-box;
  width: 798px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.mobile-hint {
  width: 798px;
  height: 21px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #2e2e2e;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.next {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 60px;
  gap: 20px;
  position: absolute;
  width: 151px;
  height: 48px;
  right: 972px;
  bottom: 65px;
  background: #6b40e3;
  border-radius: 4px;
  border: none;
}
.next-text {
  width: 81px;
  height: 20px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/*///////////////////////////*/
.correct-icon {
  position: absolute;
  right: 31px;
  top: 50px;
  display: none;
}
.error-icon {
  position: absolute;
  right: -10px;
  top: 50px;
  display: none;
}
.active {
  display: block;
}
.error {
  border: solid 1px #ef5050;
}
.correct {
  border: solid 1px #98e37e;
}
/*/ //////////////////////////*/

.plus-icon {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 78px;
  top: 994px;
}

.f-name {
  width: 123px;
  left: 80px;
  position: absolute;
  height: 42px;
  top: 68px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  color: #f93b1d;
}
.f-surname {
  width: 145px;
  left: 223px;
  position: absolute;
  height: 42px;
  top: 68px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  color: #f93b1d;
}
.email-icon {
  position: absolute;
  left: 83px;
  right: 8.33%;
  top: 131px;
  bottom: 8.33%;
}
.f-email {
  position: absolute;
  width: 179px;
  height: 21px;
  left: 111px;
  top: 127px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1a1a1a;
}
.f-mobile {
  position: absolute;
  left: 83px;
  right: 8.33%;
  top: 161px;
  bottom: 8.33%;
}
.f-mobile-num {
  position: absolute;
  width: 151px;
  height: 21px;
  left: 111px;
  top: 158px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1a1a1a;
}
.about-me {
  position: absolute;
  left: 55px;
  top: 213px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #f93b1d;
}
.about-me-full {
  position: absolute;
  width: 432px;
  height: 72px;
  left: 80px;
  top: 250px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: lowercase;
  color: #000000;
}
.uploaded-image {
  position: absolute;
  width: 246px;
  height: 246px;
  left: 501px;
  top: 48px;

  background: url(.jpg), #d9d9d9;
  border-radius: 133px;
}
